/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #f2fbff !default;
$text-color: #1a3b6d !default;
$muted-text-color: #263f66 !default;
$primary-color: #dcf5ff !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #36455d !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #9b9b9d !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
